<%= provide(:title, "Create A Product") %>

<div class="wrapper">
  <div class="container">
    <div class="form-container padding-vertical">


      <div class="title">
        Create a product
      </div>

      <div class="padding-top">
        <%= form_for(@product, url: element_cause_products_path) do |f| %>

          <div class="field">
            <%= f.label :title %>
            <%= f.text_field :title, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :mini_description %>
            <%= f.text_area :mini_description, class: "text-area" %>
          </div>

          <div class="field">
            <%= f.label :description %>
            <%= f.text_area :description, class: "text-area" %>
          </div>

          <div class="field">
            <%= f.label :base_price %>
            <%= f.text_field :base_price, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :shipping_price %>
            <%= f.text_field :shipping_price, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :element %>
            <%= f.text_area :element, class: "text-area" %>
          </div>

          <div class="field">
            <%= f.label :element_image %>
            <%= f.text_field :element_image, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :cause %>
            <%= f.text_area :cause, class: "text-area" %>
          </div>

          <div class="field">
            <%= f.label :cause_large_image %>
            <%= f.text_field :cause_large_image, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :cause_small_image %>
            <%= f.text_field :cause_small_image, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :amount_to_product %>
            <%= f.text_field :amount_to_product, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :product_plus1 %>
            <%= f.text_field :product_plus1, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :product_plus2 %>
            <%= f.text_field :product_plus2, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :product_plus3 %>
            <%= f.text_field :product_plus3, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :product_other %>
            <%= f.text_field :product_other, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :amount_to_cause %>
            <%= f.text_field :amount_to_cause, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :cause_plus1 %>
            <%= f.text_field :cause_plus1, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :cause_plus2 %>
            <%= f.text_field :cause_plus2, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :cause_plus3 %>
            <%= f.text_field :cause_plus3, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :cause_other %>
            <%= f.text_field :cause_other, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :amount_to_company %>
            <%= f.text_field :amount_to_company, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :company_plus1 %>
            <%= f.text_field :company_plus1, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :company_plus2 %>
            <%= f.text_field :company_plus2, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :company_plus3 %>
            <%= f.text_field :company_plus3, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :color %>
            <%= f.text_field :color, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :image1 %>
            <%= f.text_field :image1, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :image2 %>
            <%= f.text_field :image2, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :image3 %>
            <%= f.text_field :image3, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :image4 %>
            <%= f.text_field :image4, class: "text-field" %>
          </div>

          <%= f.submit "Create product", data: { disable_with: 'Creating...' }, class: "button" %>
        <% end %>
      </div>


    </div>
  </div>

</div>