<div class="padding-vertical">
  <div class="product-title-background">
    <div class="container">
      <div class="post-title white-text right">
        <%= @product.title %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="flex padding-bottom">

    <div class="seventy center">
      
      <div class="ten">
        <div class="category-image-container">
          <div class="category-image-centered">
            <div class="padding-bottom"><img class="product-image" src="https://saltinourhair.com/wp-content/uploads/2017/04/Things-To-Do-Mirissa-Sri-Lanka-coconut-tree-header.jpg" /></div>
            <div class="padding-bottom"><img class="product-image" src="https://saltinourhair.com/wp-content/uploads/2017/04/Things-To-Do-Mirissa-Sri-Lanka-coconut-tree-header.jpg" /></div>
            <div class="padding-bottom"><img class="product-image" src="https://saltinourhair.com/wp-content/uploads/2017/04/Things-To-Do-Mirissa-Sri-Lanka-coconut-tree-header.jpg" /></div>
            <div><img class="product-image" src="https://saltinourhair.com/wp-content/uploads/2017/04/Things-To-Do-Mirissa-Sri-Lanka-coconut-tree-header.jpg" /></div>
          </div>
        </div>
      </div>

      <div class="ninty">
        <img class="product-image" src="https://saltinourhair.com/wp-content/uploads/2017/04/Things-To-Do-Mirissa-Sri-Lanka-coconut-tree-header.jpg" />
      </div>
    </div>

    <div class="thirty">

      <div class="select-text">
        30/1 combed ring spun 100% organic cotton | 4.4 oz/sq yd | made in usa
      </div>

      <div class="post-title padding-bottom border-bottom">
        $40<%= @product.base_price %>
      </div>

      <div class="padding-vertical border-bottom">
        <div class="select-text">
          <%= @product.title %>'s cause
        </div>
        This is the description. It will be a mini description. So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause.<%= @product.mini_description %>
      </div>

      <div class="padding-vertical border-bottom">
        <div class="select-text">
          SELECT YOUR SIZE<%= @product.size %>
        </div>
        <div class="">
          list of sizes
        </div>
      </div>

      <div class="padding-vertical border-bottom">
        <div class="select-text">
          SELECT YOUR COLOR<%= @product.color %>
        </div>
        <div class="">
          list of colors
        </div>
      </div>

      <div class="padding-vertical">
        <div class="button">
          Purchase
        </div>
      </div>

    </div>

  </div>


  <div class="padding-vertical flex">

    <div class="hundred">
      <div class="sub-title padding-vertical">
        <%= @product.title %>'s cause
      </div>

      <div class="padding-bottom">
        <img src="https://placehold.it/1920x1080" width="100%" />
      </div>
    </div>

    <div class="fifty">
      <div class="">
        Even bigger description of what the cause is. This is the description. It will be a mini description. So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause. This is the description. It will be a mini description. So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause.<%= @product.cause %>
      </div>
    </div>

    <div class="fifty">
      <div class="sub-title padding-bottom">
        Breakdown
      </div>
      <div>
        <span class="select-text">Shirt:</span> $12.13
      </div>
      <div>
        <span class="select-text">Cause:</span> $20.00
      </div>
      <div>
        <span class="select-text">Ninth Valley:</span> $7.87
      </div>
    </div>
  </div>

</div>