<div class="padding-vertical">
  <div class="product-title-background">
    <div class="container">
      <div class="post-title white-text right">
        <%= @product.title %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="flex padding-bottom">

    <div class="seventy center">

      <div class="ten">
        <div class="category-image-container">
          <div class="category-image-centered">
            <div class="padding-bottom"><img class="product-image-small" src="<%= @product.image1 %>" /></div>
            <div class="padding-bottom"><img class="product-image-small" src="<%= @product.image2 %>" /></div>
            <div class="padding-bottom"><img class="product-image-small" src="<%= @product.image3 %>" /></div>
            <div><img class="product-image-small" src="<%= @product.image4 %>" /></div>
          </div>
        </div>
      </div>

      <div class="ninty">
        <img class="product-image" src="<%= @product.image1 %>" />
      </div>
    </div>

    <div class="thirty">

      <div class="padding-bottom border-bottom">
        <div class="select-text">
          Ninth Valley can plant 72 trees thanks to good humans like you.
        </div>
      </div>

      <div class="post-title padding-vertical border-bottom">
        $<%= @product.base_price %>
      </div>

      <div class="padding-vertical border-bottom">
        <div class="select-text">
          <%= @product.title %>'s cause
        </div>
        <%= @product.mini_description %>
      </div>

      <div class="padding-vertical border-bottom">
        <div class="select-text">
          SELECT YOUR SIZE
        </div>
        <div class="">
          XS, S, M, L, XL, XXL
        </div>
      </div>

      <div class="padding-vertical border-bottom">
        <div class="select-text">
          SELECT YOUR COLOR
        </div>
        <div class="">
          Black, White, <%= @product.color %>
        </div>
      </div>

      <div class="padding-vertical">
        <div class="button">
          Purchase
        </div>
      </div>

    </div>

  </div>


  <div class="padding-vertical flex">

    <div class="hundred">
      <div class="sub-title padding-vertical">
        <%= @product.title %>'s cause
      </div>

      <div class="padding-bottom">
        <img class="large-image" src="<%= @product.cause_large_image %>" width="100%" />
      </div>
    </div>

    <div class="fifty">
      <div class="best">
        <%= sanitize(@product.cause_text) %>
      </div>
    </div>

    <div class="fifty">
      <div class="padding-bottom">
        <img class="product-image" src="<%= @product.cause_small_image %>" />
      </div>

      <% link_to element_cause_path(@element, @cause) do %>
        <div class="button">
          I want to learn more!
        </div>
      <% end %>

    </div>
  </div>


  <div class="padding-vertical flex">
    <div class="fifty">
      <div class="sub-title padding-bottom">
        Breakdown
      </div>
      <div class="padding-bottom">
        <div>
          <span class="select-text">Shirt: $<%= @product.amount_to_product %></span>
        </div>
        <div class="padding-left">
          <span class="sub-text"><%= @product.product_plus1 %></span>
        </div>
        <div class="padding-left">
          <span class="sub-text"><%= @product.product_plus2 %></span>
        </div>
        <div class="padding-left">
          <span class="sub-text"><%= @product.product_plus3 %></span> 
        </div>
        <div class="padding-left">
          <span class="sub-text"><%= @product.product_other %></span>
        </div>
      </div>
      <div class="padding-bottom">
        <div>
          <span class="select-text">Cause: $<%= @product.amount_to_cause %></span>
        </div>
        <div class="padding-left">
          <span class="sub-text"><%= @product.cause_plus1 %></span>
        </div>
        <div class="padding-left">
          <span class="sub-text"><%= @product.cause_plus2 %></span>
        </div>
        <div class="padding-left">
          <span class="sub-text"><%= @product.cause_plus3 %></span>
        </div>
        <div class="padding-left">
          <span class="sub-text"><%= @product.cause_other %></span>
        </div>
      </div>
      <div class="padding-bottom">
        <div>
          <span class="select-text">Ninth Valley: $<%= @product.amount_to_company %></span>
        </div>
        <div class="padding-left">
          <span class="sub-text"><%= @product.company_plus1 %></span>
        </div>
        <div class="padding-left">
          <span class="sub-text"><%= @product.company_plus2 %></span>
        </div>
        <div class="padding-left">
          <span class="sub-text"><%= @product.company_plus3 %></span>
        </div>
        <div class="padding-left">
          <span class="sub-text"><%= @product.company_other %></span>
        </div>
      </div>
    </div>

    <div class="fifty">
      <div class="sub-title padding-bottom">
        Product details
      </div>
      <div class="padding-bottom">
        <div>
          <span class="select-text">30/1 combed ring spun 100% organic cotton</span>
        </div>
        <div class="padding-left">
          <span class="sub-text">Some reason why it's awesome</span>
        </div>
        <div class="padding-left">
          <span class="sub-text">Some reason why it's awesome</span>
        </div>
        <div class="padding-left">
          <span class="sub-text">Some reason why it's awesome</span>
        </div>
      </div>
      <div class="padding-bottom">
        <div>
          <span class="select-text">Made in USA</span>
        </div>
        <div class="padding-left">
          <span class="sub-text">Some reason why it's awesome</span>
        </div>
        <div class="padding-left">
          <span class="sub-text">Some reason why it's awesome</span>
        </div>
        <div class="padding-left">
          <span class="sub-text">Some reason why it's awesome</span>
        </div>
      </div>
      <div class="padding-bottom">
        <div>
          <span class="select-text">4.4 oz/sq yd</span>
        </div>
        <div class="padding-left">
          <span class="sub-text">Some reason why it's awesome</span>
        </div>
        <div class="padding-left">
          <span class="sub-text">Some reason why it's awesome</span>
        </div>
        <div class="padding-left">
          <span class="sub-text">Some reason why it's awesome</span>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="padding-vertical element-background">

  <div class="container flex">

    <div class="hundred">
      <div class="sub-title padding-vertical">
        This will help <%= @element.title %>
      </div>
    </div>

    <div class="fifty">
      <div class="best">
        <%= sanitize(@product.element_text) %>
      </div>
    </div>

    <div class="fifty">
      <img class="product-image" src="<%= @product.element_image %>" />
    </div>

  </div>

</div>