<%= provide(:title, "Create A Element") %>

<div class="wrapper">
  <div class="container">
    <div class="form-container padding-vertical">


      <div class="title">
        Create a element
      </div>

      <div class="padding-top">
        <%= form_for(@element, url: elements_path) do |f| %>

          <div class="field">
            <%= f.label :title %>
            <%= f.text_field :title, class: "text-field" %>
          </div>

          <div class="field">
            <%= f.label :description %>
            <%= f.text_area :description, class: "text-area" %>
          </div>

          <div class="field">
            <%= f.label :image %>
            <%= f.text_field :image, class: "text-field" %>
          </div>

          <%= f.submit "Create element", data: { disable_with: 'Creating...' }, class: "submit-button" %>
        <% end %>
      </div>


    </div>
  </div>
</div>