<div class="padding-vertical">
  <div class="product-title-background">
    <div class="container">
      <div class="post-title white-text right">
        <%= @cause.title %>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="padding-bottom">
    <img class="large-image" src="<%= @cause.image_large_top %>" width="100%" />
  </div>

  <div class="padding-bottom sub-title center">
    <%= @cause.mini_description %>
  </div>

</div>

<div class="padding-vertical element-background">

  <div class="container flex">

    <div class="hundred">
      <div class="sub-title padding-vertical">
        What is this cause?
      </div>
    </div>

    <div class="fifty">
      <div class="best">
        <%= sanitize(@cause.description) %>
      </div>
    </div>

    <div class="fifty">
      <img class="product-image" src="<%= @cause.image_description %>" />
    </div>

  </div>
</div>

<div class="padding-vertical">

  <div class="container flex">

    <div class="hundred">
      <div class="sub-title padding-vertical">
        Why is this important?
      </div>
    </div>

    <div class="fifty">
      <img class="product-image" src="<%= @cause.image_important %>" />
    </div>

    <div class="fifty">
      <div class="best">
        <%= sanitize(@cause.important) %>
      </div>
    </div>

  </div>
</div>

<div class="padding-vertical">

  <div class="container flex">

    <div class="hundred">
      <div class="sub-title padding-vertical">
        What happens if we don't take action?
      </div>
    </div>

    <div class="fifty">
      <div class="best">
        <%= sanitize(@cause.disaster) %>
      </div>
    </div>

    <div class="fifty">
      <img class="product-image" src="<%= @cause.image_disaster %>" />
    </div>

  </div>
</div>


<div class="padding-vertical element-background">
  <div class="container">
    <img class="large-image" src="<%= @cause.image_large_bottom %>" width="100%" />
  </div>
</div>


<div class="padding-vertical">

  <div class="container flex">

    <div class="hundred">
      <div class="sub-title padding-vertical">
        What is the plan?
      </div>
    </div>

    <div class="fifty">
      <div class="best">
        <%= sanitize(@cause.plan) %>
      </div>
    </div>

    <div class="fifty">
      <img class="product-image" src="<%= @cause.image_plan %>" />
    </div>

  </div>
</div>

<div class="padding-vertical">

  <div class="container flex">

    <div class="hundred">
      <div class="sub-title padding-vertical">
        How much have we raised?
      </div>
    </div>

    <div class="fifty">
      <div class="best">
        <%= sanitize(@cause.raised) %>
      </div>
    </div>

    <div class="fifty">
      <img class="product-image" src="<%= @cause.image_description %>" />
    </div>

  </div>
</div>

<% if @cause.product %>

<div class="padding-vertical element-background">
  <div class="container flex">
    <div class="fifty-auto center">

      <div class="sub-title padding-vertical">
        <%= @cause.product.title %> supports this cause!
      </div>

      <div class="padding-bottom">
        <img class="product-image" src="<%= @cause.image_product %>" />
      </div>

      <%= link_to element_cause_product_path(@element, @cause, @cause.product) do %>
        <div class="inverse-button">
          Let me take a look!
        </div>
      <% end %>

    </div>
  </div>
</div>

<div class="padding-vertical">
  <div class="container flex">
    <div class="fifty-auto center">

      <div class="select-text">
        Ninth Valley can plant 72 trees thanks to good humans like you.
      </div>

    </div>
  </div>
</div>

<% end %>