<div class="padding-vertical">
  <div class="product-title-background">
    <div class="container">
      <div class="post-title white-text right">
        <%= @cause.title %>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="padding-bottom">
    <img class="large-image" src="https://cdn.shopify.com/s/files/1/0200/7616/files/trees.png?v=1506004821" width="100%" />
  </div>

  <div class="padding-bottom sub-title center">
    Trees are important because they are so nice and green. They give us oxygen and are the homes for birds and bugs.
  </div>

</div>

<div class="padding-vertical element-background">

  <div class="container flex">

    <div class="hundred">
      <div class="sub-title padding-vertical">
        What is this cause?
      </div>
    </div>

    <div class="fifty">
      <div class="">
        Even bigger description of what the cause is. This is the description. It will be a mini description. So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause. This is the description.</br></br> It will be a mini description. So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause.Even bigger description of what the cause is. This is the description.</br></br> It will be a mini description. So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause. This is the description.</br></br> It will be a mini description. So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause.Even bigger description of what the cause is. This is the description.</br></br> It will be a mini description.</br></br> So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause. This is the description. It will be a mini description. So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause.</br></br><%= @cause.description %>
      </div>
    </div>

    <div class="fifty">
      <img class="product-image" src="https://saltinourhair.com/wp-content/uploads/2017/04/Things-To-Do-Mirissa-Sri-Lanka-coconut-tree-header.jpg" />
    </div>

  </div>
</div>

<div class="padding-vertical">

  <div class="container flex">

    <div class="hundred">
      <div class="sub-title padding-vertical">
        Why is this important?
      </div>
    </div>

    <div class="fifty">
      <img class="product-image" src="https://saltinourhair.com/wp-content/uploads/2017/04/Things-To-Do-Mirissa-Sri-Lanka-coconut-tree-header.jpg" />
    </div>

    <div class="fifty">
      <div class="">
        Even bigger description of what the cause is. This is the description. It will be a mini description. So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause. This is the description.</br></br> It will be a mini description. So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause.Even bigger description of what the cause is. This is the description.</br></br> It will be a mini description. So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause. This is the description.</br></br> It will be a mini description. So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause.Even bigger description of what the cause is. This is the description.</br></br> It will be a mini description.</br></br> So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause. This is the description. It will be a mini description. So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause.</br></br><%= @cause.description %>
      </div>
    </div>

  </div>
</div>

<div class="padding-vertical">

  <div class="container flex">

    <div class="hundred">
      <div class="sub-title padding-vertical">
        What happens if we don't take action?
      </div>
    </div>

    <div class="fifty">
      <div class="">
        Even bigger description of what the cause is. This is the description. It will be a mini description. So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause. This is the description.</br></br> It will be a mini description. So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause.Even bigger description of what the cause is. This is the description.</br></br> It will be a mini description. So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause. This is the description.</br></br> It will be a mini description. So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause.Even bigger description of what the cause is. This is the description.</br></br> It will be a mini description.</br></br> So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause. This is the description. It will be a mini description. So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause.</br></br><%= @cause.description %>
      </div>
    </div>

    <div class="fifty">
      <img class="product-image" src="https://saltinourhair.com/wp-content/uploads/2017/04/Things-To-Do-Mirissa-Sri-Lanka-coconut-tree-header.jpg" />
    </div>

  </div>
</div>

<div class="padding-vertical element-background">
  <div class="container">
    <img class="large-image" src="https://cdn.shopify.com/s/files/1/0200/7616/files/trees.png?v=1506004821" width="100%" />
  </div>
</div>

<div class="padding-vertical">

  <div class="container flex">

    <div class="hundred">
      <div class="sub-title padding-vertical">
        What is the plan?
      </div>
    </div>

    <div class="fifty">
      <div class="">
        Even bigger description of what the cause is. This is the description. It will be a mini description. So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause. This is the description.</br></br> It will be a mini description. So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause.Even bigger description of what the cause is. This is the description.</br></br> It will be a mini description. So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause. This is the description.</br></br> It will be a mini description. So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause.Even bigger description of what the cause is. This is the description.</br></br> It will be a mini description.</br></br> So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause. This is the description. It will be a mini description. So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause.</br></br><%= @cause.description %>
      </div>
    </div>

    <div class="fifty">
      <img class="product-image" src="https://saltinourhair.com/wp-content/uploads/2017/04/Things-To-Do-Mirissa-Sri-Lanka-coconut-tree-header.jpg" />
    </div>

  </div>
</div>

<div class="padding-vertical">

  <div class="container flex">

    <div class="hundred">
      <div class="sub-title padding-vertical">
        How much have we raised?
      </div>
    </div>

    <div class="fifty">
      <div class="">
        Even bigger description of what the cause is. This is the description. It will be a mini description. So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause. This is the description.</br></br> It will be a mini description. So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause.Even bigger description of what the cause is. This is the description.</br></br> It will be a mini description. So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause. This is the description.</br></br> It will be a mini description. So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause.Even bigger description of what the cause is. This is the description.</br></br> It will be a mini description.</br></br> So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause. This is the description. It will be a mini description. So very short, but also very informative. Like what it's made of and all that other crap. It may also go into a small description of the cause.</br></br><%= @cause.description %>
      </div>
    </div>

    <div class="fifty">
      <img class="product-image" src="https://saltinourhair.com/wp-content/uploads/2017/04/Things-To-Do-Mirissa-Sri-Lanka-coconut-tree-header.jpg" />
    </div>

  </div>
</div>